<ng-container *ngIf="permission <= 1 && isShowDepartment === '1'">
    <div class="widthselect">
        <select id="select2" name="select2" class="form-control padding-select-congty" [(ngModel)]="options.departmentId" (change)="ChangeDepartment(options.departmentId)">
            <option  [ngValue]="0">----- Chọn phòng ban -----</option>
            <option *ngFor="let item of listPhongBans" [ngValue]="item.Id">{{item.Name}}</option>
        </select>
    </div>
</ng-container>
<ng-container *ngIf="permission <= 2 && isShowDepartment === '1' && isShowNest === '1'">
    <div class="widthselect">
        <select id="select2" name="select2" class="form-control padding-select-congty" [(ngModel)]="options.nestId" (change)="ChangeNest(options.nestId)">
            <option [ngValue]="0">----- Chọn tổ -----</option>
            <option *ngFor="let item of listNests" [ngValue]="item.Id">{{item.Name}}</option>
        </select>
    </div>
</ng-container>



