.level-1{
    font-size: 20px;
    font-weight: bold;
}
.level-2{
    font-size: 18px;
    padding-left: 40px;
    font-weight: 600;
}
.level-3{
    padding-left: 60px;
}
.item-row-nhomnguoidung:hover{
    cursor: pointer;
    background-color: #f5ad2b;
}