<div class="app-body body-login">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row" [ngStyle]="{'margin-top': '-100px'}">
        <div class="col-md-6 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form>
                  <div class="dangnhap-hethong">
                    <h4>
                        ĐĂNG NHẬP HỆ THỐNG
                    </h4>
                  </div>
                 <h6></h6>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Tên đăng nhập" name="Username" autocomplete="username"
                      [(ngModel)]="User.Username" (keyup.enter)="LoginClick()" 
                      required>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" placeholder="Mật khẩu" name="Password" autocomplete="current-password"
                      (keyup.enter)="LoginClick()" [(ngModel)]="User.Password" 
                      required>
                  </div>
                  <!-- <div class="input-group mb-4">
                    <botdetect-captcha captchaStyleName="yourFirstCaptchaStyle"></botdetect-captcha>  
                    <input id="yourFirstCaptchaUserInput" 
                           name="yourFirstCaptchaUserInput" 
                           ngModel 
                           #yourFirstCaptchaUserInput="ngModel"  
                           type="text" > 
                  </div> -->
                  <div class="row">
                    <div class="col-6">
                      <button type="button" class="btn btn-primary px-4" (click)="LoginClick()">Đăng nhập</button>
                    </div>
                    <div class="col-6 text-right">
                      <button type="button" class="btn btn-link px-0" (click)="QuenMatKhau()">Quên mật khẩu?</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-bot">
        <div class="col-md-6">
          <div class="card-group">
            <div class="card">
              <div class="row">
                <div class="col-md-2">
                  <div class="box-logo">
                      <img src="assets/img/login/group.png" alt="logo">
                  </div>
                </div>
                <div class="col-md-10">
                  <div class="box-info">
                      <strong>NHÓM PHÁT TRIỂN PHẦN MỀM TTSOFT</strong><br>
                       <hr>
                      <small>Địa chỉ: Số 22, Cửu Việt 1, Trâu Quỳ, Gia Lâm, Hà Nội</small><br>
                      <small>Email: cskh@ttsoft.vn  | SĐT: 0964720070</small><br>
                      <small>Donate: Ngân hàng Ngoại Thương Việt Nam (VietComBank), STK 1017759868, Chủ tài khoản: Nguyễn Đình Thông</small><br>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
