<app-header [navbarBrandRouterLink]="['/dashboard']" [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/logo.svg', width: 89, height: 25, alt: 'CoreUI Logo'}"
  [navbarBrandMinimized]="{src: 'assets/img/brand/sygnet.svg', width: 30, height: 30, alt: 'CoreUI Logo'}"
  [sidebarToggler]="'lg'" [asideMenuToggler]="'lg'">
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item px-3">
      <!-- <a class="nav-link" href="#">Dashboard</a> -->
      <div class="form-group row form-search mb-0">
        <div class="col-md-12">
          <div class="input-group">
            <input type="text" id="input1-group2" name="input1-group2" class="form-control input-searh" [(ngModel)]="s"
              placeholder="Tìm kiếm..." (keyup)="Search()">
            <span class="input-group-prepend">
            </span>
          </div>
        </div>
      </div>
    </li>
  
  </ul>
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item d-md-down-none" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"
        dropdownToggle (click)="false">
        <i class="icon-bell" style="font-size: 24px;" matTooltip="Thông báo"></i>
        <span class="badge badge-pill badge-danger badge-overide" *ngIf="total > 0">{{total}}</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right widthdropdown overscroll-he" *dropdownMenu
        aria-labelledby="simple-dropdown">
        <div class="p-1 text-center"><strong style="font-size: 24px;">Thông báo</strong></div>
        <ng-container *ngFor="let item of listThongbaos">
          <a [routerLink]="[item.RouterLink]" (click)="updateDaXemThongBao(item.Id)">
            <div class="message" class="dropdown-item">
              <!-- <div class="py-3 pb-5 mr-3 float-left">
                <div class="avatar">
                  <img src="assets/img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                  <span class="avatar-status badge-success"></span>
                </div>
              </div> -->
              <div>
                <small class="font-weight-bold" style="font-size: 14px;">{{item.TenNguoiGui}} </small><span>đã gửi đến</span>
                <small class="float-right mt-1">{{item.NgayGui|date:'dd/MM HH:mm'}}</small>
              </div>
              <div class="mt-1">
                <small class="font-weight-bold workflow-{{item.TrangThaiXuLy}}"
                  style="color: white;border-radius: 5px;padding: 2px;font-size: 12px;">{{item.TrangThai}}</small>
                <small class="float-right mt-1" style="font-style: italic; color: red;">{{item.DaXem}}</small>
              </div>
              <div class="mt-1">
                <small style="font-size: 12px;">{{item.NoiDung| slice:0:40}}</small>
                <small class="float-right mt-1"></small>
              </div>

            </div>
          </a>


        </ng-container>

      </div>
    </li>


    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link img-hover-setup" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
        aria-expanded="false" dropdownToggle (click)="false" matTooltip="{{fullName}}">
        <img src="assets/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com" />
        <span><strong style="color: black;">{{fullName}}</strong> </span>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>Cài đặt</strong></div>
        <a class="dropdown-item" (click)="LogOut()"><i class="fa fa-lock"></i>Đăng xuất</a>
      </div>
    </li>
  </ul>
</app-header>
<div class="app-body">
  <!-- [minimized]="sidebarMinimized" -->
  <app-sidebar #appSidebar [fixed]="true" [display]="'lg'" [minimized]="true"
    (minimizedChange)="toggleMinimize($event)">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="appSidebar.minimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <!-- breaking change 'cui-breadcrumb' -->

    <!-- deprecation warning for 'app-breadcrumb' -->
    <!--<ol class="breadcrumb">-->
    <!--<app-breadcrumb></app-breadcrumb>-->
    <!--&lt;!&ndash; Breadcrumb Menu&ndash;&gt;-->
    <!--<li class="breadcrumb-menu d-md-down-none">-->
    <!--<div class="btn-group" role="group" aria-label="Button group with nested dropdown">-->
    <!--<a class="btn" href="#"><i class="icon-speech"></i></a>-->
    <!--<a class="btn" [routerLink]="['/dashboard']"><i class="icon-graph"></i> &nbsp;Dashboard</a>-->
    <!--<a class="btn" href="#"><i class="icon-settings"></i> &nbsp;Settings</a>-->
    <!--</div>-->
    <!--</li>-->
    <!--</ol>-->
    <div class="container-fluid p-0">
      <div class="fbottom" title="Nhắc việc" dropdown [dropup]="true">
        <div id="button-dropup" dropdownToggle aria-controls="dropdown-dropup">
          <ul id="dropdown-dropup" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-dropup">
            <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Another action</a>
            </li>
            <li role="menuitem"><a class="dropdown-item" href="#">Something else
                here</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
            </li>
          </ul>
          <i class="fa fa-file-text" aria-hidden="true"></i>
        </div>

      </div>
      <router-outlet></router-outlet>
    </div><!-- /.container-fluid -->
  </main>


  <app-aside [fixed]="true" [display]="false" [ngClass]="'test'">
    <tabset>
      <tab>
        <ng-template tabHeading><i class="icon-speech"></i></ng-template>
        <div class="p-3">
          <ng-container *ngFor="let item of listThongbaos">

            <div class="message">
              <!-- <div class="py-3 pb-5 mr-3 float-left">
                <div class="avatar">
                  <img src="assets/img/avatars/7.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                  <span class="avatar-status badge-success"></span>
                </div>
              </div> -->
              <div>
                <small class="text-muted">{{item.TenNguoiGui}}</small>
                <small class="text-muted float-right mt-1">{{item.NgayGui|date:'dd/MM/yyyy HH:mm'}}</small>
              </div>
              <div class="text-truncate font-weight-bold badge workflow-{{item.TrangThaiXuLy}}">{{item.TrangThai}}
              </div>
              <small class="text-muted">{{item.NoiDung}}</small>
            </div>

          </ng-container>

        </div>
      </tab>
    </tabset>
  </app-aside>
</div>