<div class="animated fadeIn">
    <div class="card-header">
        <button *appPermitadd='true' (click)="showModal()" type="button" class="btn btn-outline-primary"
            title="Thêm mới">
            <span class="btntext-middle"><i class="btnicon-font-size fas fa-plus" aria-hidden="true"></i></span>
            <a class="ml-1">
                Thêm mới
            </a>
        </button>
        <button type="button" class="btn btn-outline-primary" title="Làm mới" (click)="RefreshData()">
            <span class="btntext-middle"><i class="btnicon-font-size fa fa-refresh" aria-hidden="true"></i></span>
            <a class="ml-1">
                Refresh
            </a>
        </button>

        <app-select-lenh #selectLenh MenuId="GV0101" [VbLuanChuyenId]="IdVb" (refreshPaList)="refreshList()">
        </app-select-lenh>
        <ng-container *appPermitdel='true'>
            <app-modaldel *ngIf="CheckLength > 0" [list]=listData titleModal="Xác nhận nhóm quyền"
                (xacNhan)="r4DelData($event)"></app-modaldel>
        </ng-container>
    </div>
    <div class="card-body p-0 border-0 scroll-card-body">
        <div class="row mx-0">
            <div class="col-md-4 pl-1">
                <div class="card mt-1 border-0">
                    <div class="card-body p-0">
                        <table class="table">
                            <tbody>
                                <tr *ngFor="let item of listCongViecs" class="hover-cusor"
                                    [style.background-color]="IdVb===item.CongViecMoiId ? '#fff9cc' : 'white'">
                                    <td width=40 class="py-2" style="vertical-align: middle;">
                                        <img *ngIf="IdVb===item.CongViecMoiId" src="assets/icon/radio.svg" alt="radio" width="18">
                                    </td>
                                    <td class="py-1" (click)="SelectIDEditModel(item)">
                                        <p class="mb-1"><strong class="font-vb">{{item.Name}}</strong> </p>
                                        <p class="mb-1">Miêu tả: {{item.MieuTa}}</p>
                                        <p class="mb-0 font-color">Mã công việc: {{item.Code}} | Ngày tạo:
                                            {{item.CreateDate | date: 'dd/MM/yyyy'}}</p>
                                    </td>
                                    <td width=80 class="py-1" class="s-icon-cn">
                                        <span title="Thêm mới công việc" class="mr-1"><i
                                                class="iconedit-fontsize fas fa-plus"
                                                aria-hidden="true"></i></span>
                                        <span title="Sửa" class="mr-1"><i
                                                class="iconedit-fontsize fa fa-pencil-square-o"
                                                aria-hidden="true"></i></span>
                                        <span title="Xóa"><i class="iconedit-fontsize fa fa-trash"
                                                aria-hidden="true"></i></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!--/.row-->
                    </div>
                </div>
            </div>
            <!--/.col-->
            <div class="col-md-8 px-0">
                <mat-accordion class="example-headers-align">
                    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title class="header-coll">
                                Tên công việc: {{modelView.Name}}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="row">
                            <div class="col-sm-4">
                                <span>Mã công việc: <strong>{{modelView.Code}}</strong></span>
                            </div>
                            <div class="col-sm-4">
                                <span>Ngày ký: <strong>{{modelView.CreateDate| date: 'dd/MM/yyyy'}}</strong></span>
                            </div>
                            <div class="col-sm-4">
                                <span>Người tạo: <strong>{{modelView.TenNguoiTao}}</strong></span>
                            </div>
                        </div>
                        <div class="row pt-3">
                            <div class="col-sm-4">
                                <span>Nhóm công việc: <strong>{{modelView.TenNhom}}</strong></span>
                            </div>
                            <div class="col-sm-4">
                                <span>Lĩnh vực: <strong>{{modelView.TenLinhVuc}}</strong></span>
                            </div>
                            <div class="col-sm-4">
                                <span>Công ty: <strong>Công ty cổ phần bao bi & in nông nghiệp</strong></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p class="mb-1 mt-2">File văn bản gốc:</p>
                                <ng-container *ngFor="let item of filesView">
                                    <a href="{{item.Path | urlFileReplace}}" target="_blank"
                                        (click)="changeUrlpdf(item.Path)">{{item.Name}}</a><span>({{item.Size/1048576 | number: '1.2-2'}}MB)</span>
                                </ng-container>


                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" *ngIf="pdfSrc !== undefined">

                                <ngx-doc-viewer url="{{pdfSrc}}" viewer="pdf" style="width:100%;height:93vh;">
                                </ngx-doc-viewer>

                            </div>
                        </div>
                        <mat-action-row>
                            <button mat-button color="primary" class="btn btn-outline-primary" (click)="nextStep()">Tiếp
                                theo</button>
                        </mat-action-row>
                    </mat-expansion-panel>
                    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title class="header-coll">
                                Theo dõi kế hoạch công việc
                            </mat-panel-title>

                        </mat-expansion-panel-header>
                        <div class="over-expan-body">
                            <app-tree-schedule #treeSchedule MenuId="GV0101"></app-tree-schedule>
                        </div>


                        <mat-action-row>
                            <button mat-button color="warn" class="btn btn-outline-primary" (click)="prevStep()">Quay
                                lại</button>
                            <button mat-button color="primary" class="btn btn-outline-primary ml-1"
                                (click)="nextStep()">Tiếp theo</button>
                        </mat-action-row>
                    </mat-expansion-panel>

                    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title class="header-coll">
                                Theo dõi quy trình luân chuyển
                            </mat-panel-title>

                        </mat-expansion-panel-header>

                        <table class="table table-sm table-bordered ">
                            <thead>
                                <tr class="text-center">
                                    <th width=150>Người nhận</th>
                                    <th>Nội dung</th>
                                    <th width=120>Ngày đọc</th>

                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let item of listLcvb">
                                    <ng-container *ngIf="item.TrangThaiXuLy === 1; else trangThaiKhacOne">
                                        <tr>
                                            <td colspan="4">
                                                <strong>{{item.TenNguoiGui}} tạo dự án/ công việc mới mới lúc
                                                    {{item.ThoiGianGui|date: 'HH:mm dd/MM/yyyy'}}</strong>
                                            </td>
                                        </tr>
                                    </ng-container>
                                    <ng-template #trangThaiKhacOne>
                                        <tr>
                                            <td colspan="4">
                                                <span><strong>{{item.TenNguoiGui}}</strong>({{item.PositionNG}}) gửi đến
                                                    <strong>{{item.TenNguoiNhan}}</strong>({{item.PositionNN}}) lúc
                                                    {{item.ThoiGianGui|date: 'HH:mm dd/MM/yyyy'}}</span>
                                            </td>
                                        </tr>
                                    </ng-template>
                                    <tr>
                                        <td class="text-center" style="vertical-align: middle;">
                                            {{item.TenNguoiNhan}}
                                        </td>
                                        <td>
                                            <span style="font-size: 14px;"
                                                class="badge bcolor-lcvb-{{item.TrangThaiXuLy}}">
                                                {{item.TrangThaiXuLy |trangThaiXuLy: 'giaoviec'}}</span>
                                            <p>{{item.NoiDung}}</p>
                                        </td>
                                        <td class="text-center">
                                            {{item.NgayDoc|date: 'dd/MM/yyyy HH:mm'}}
                                        </td>

                                    </tr>
                                </ng-container>


                            </tbody>
                        </table>

                        <mat-action-row>
                            <button mat-button color="warn" class="btn btn-outline-primary" (click)="prevStep()">Quay
                                lại</button>
                            <button mat-button color="primary" class="btn btn-outline-primary ml-1"
                                (click)="nextStep()">Tiếp theo</button>
                        </mat-action-row>
                    </mat-expansion-panel>

                    <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title class="header-coll">
                                Sơ đồ mô tả quy trình luân chuyển
                            </mat-panel-title>

                        </mat-expansion-panel-header>
                        <div class="row">
                            <div class="col-md-12">
                                <app-tree-diagram #treediagram (listLcvb)=listLcvb typeStatus='giaoviec'>
                                </app-tree-diagram>
                            </div>

                        </div>

                        <mat-action-row>
                            <button mat-button color="warn" class="btn btn-outline-primary" (click)="prevStep()">Quay
                                lại</button>
                            <button mat-button color="primary" class="btn btn-outline-primary ml-1"
                                (click)="nextStep()">Kết thúc</button>
                        </mat-action-row>
                    </mat-expansion-panel>

                </mat-accordion>
            </div>
            <!--/.col-->
        </div>

        <!--/.row-->
    </div>
</div>

<!-- Thêm sửa-->
<div bsModal #modaldata="bs-modal" class="modal fade" id="modalUser" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true" [config]="{'backdrop':'static', 'keyboard': false}"
    data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <form #CongViecMoi="ngForm" (ngSubmit)="r3_AddQTCongViecMoi()" enctype="multipart/form-data"
            class="form-horizontal" novalidate autocomplete="off">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Tạo công việc mới</h4>
                    <button type="button" class="close" (click)="modaldata.hide()" aria-label="Close">
                        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="animated fadeIn">
                        <div class="row m-0">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="title-text col-form-label" for="name"> Công việc
                                        <span>*</span>
                                    </label>
                                    <div class="input-text">
                                        <input required type="text" [class.is-invalid]="Name.invalid && Name.touched"
                                            class="form-control rounded-0" #Name="ngModel" name="Name"
                                            [(ngModel)]="model.Name">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group row">
                                    <label class="title-text col-form-label" for="name"> Mã công việc
                                        <span>*</span>
                                    </label>
                                    <div class="input-text">
                                        <input required type="text" [class.is-invalid]="Code.invalid && Code.touched"
                                            class="form-control rounded-0" #Code="ngModel" name="Code"
                                            [(ngModel)]="model.Code">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 ml-0">


                            </div>
                            <div class="col-md-5">
                                <app-input-date require=true label="T/g bắt đầu" (changeDate)="dateSelectbd($event)">
                                </app-input-date>
                            </div>
                            <div class="col-md-7">
                                <div class="form-group row ml-0">
                                    <label class="title-text col-form-label" for="name"> Số ngày
                                    </label>
                                    <div class="input-text">
                                        <input type="number" class="form-control rounded-0" #TotalDay="ngModel"
                                            name="TotalDay" [(ngModel)]="model.TotalDay">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <app-input-date require=true label="T/g kết thúc" (changeDate)="dateSelectkt($event)">
                                </app-input-date>
                            </div>

                            <div class="col-md-7 ml-0">
                                <div class="form-group row  ml-0">
                                    <label class="title-text col-form-label" for="name"> Lĩnh vực

                                    </label>
                                    <div class="input-text">
                                        <div class="ng-autocomplete">
                                            <ng-autocomplete [data]="listLinhVucs" [searchKeyword]="keywordl"
                                                (selected)='selectLinhVucCV($event)'
                                                (inputChanged)='onChangeSearchLVCV($event)'
                                                [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
                                            </ng-autocomplete>

                                            <ng-template #itemTemplate let-item>
                                                <a [innerHTML]="item.Name"></a>
                                            </ng-template>

                                            <ng-template #notFoundTemplate let-notFound>
                                                <div [innerHTML]="notFound"></div>
                                            </ng-template>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="title-text col-form-label" for="name"> Miêu tả

                                    </label>
                                    <div class="input-text">
                                        <textarea name="MieuTa" class="w-100 form-control rounded-0" #MieuTa="ngModel"
                                            [(ngModel)]="model.MieuTa"></textarea>

                                    </div>
                                </div>

                            </div>



                            <div class="col-md-6">
                                <!-- <app-input-radio-checkbox nameRadio="Kích hoạt" nameTrue="Có" nameFalse="Không"
                     (changeRadio)="radioKichHoat($event)"></app-input-radio-checkbox> -->
                            </div>
                        </div>
                        <!--/.row-->
                    </div>
                    <mat-tab-group>
                        <mat-tab label="Văn bản đính kèm">
                            <div class="row m-0 pt-2 pb-2">
                                <input #filevb type="file" accept='.pdf' class="inputimgFileWorks avataruser"
                                    (change)="onSelectFile(filevb.files)" />

                            </div>
                        </mat-tab>
                        <mat-tab label="Tài liệu đính kèm">
                            <div class="row m-0  pt-2 pb-2">
                                <div class="col-md-12">
                                    <input #filedc type="file" accept='.pdf, .xlsx' class="inputimgFileWorks avataruser"
                                        (change)="onSelectFileDinhKem(filedc.files)" />

                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="modaldata.hide()">Đóng</button>
                    <button [disabled]="CongViecMoi.form.invalid" type="submit" class="btn btn-primary">Lưu
                        lại</button>
                </div>
            </div><!-- /.modal-content -->
        </form>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->