.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
.header-coll{
    font-size: 18px;
    font-weight: bold;
    color: #1573ff;
}
.font-vb{
  font-size: 16px;
}
.hover-cusor:hover{
background-color: #eeeeefd4;
}
.font-color{
  color: #c3c3c3;
}
.scroll-card-body{
  max-height: calc(100vh - 116px);
  overflow-y: auto;
}
.scroll-card-body::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.scroll-card-body::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.scroll-card-body::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
.scroll-card-body::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.s-icon-cn{
  font-size: 10px;
  text-align: right;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.ng-autocomplete {
  width: auto;
}
.autocomplete-container
{
  box-shadow: none !important;
}
.over-expan-body{
  overflow-x: auto;
}
.over-expan-body::-webkit-scrollbar {
  height: 6px;
}

/* Track */
.over-expan-body::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
.over-expan-body::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
.over-expan-body::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
::ng-deep .mat-expansion-panel-body {
  padding: 0 10px 10px !important;
}
.row.border-bottom-row:after {
  content: "";
  background-color: #efefef;
  width: calc(100% - 30px);
  /* text-align: center; */
  margin: 0 auto;
  height: 1px;
}
.border-work-current{
  padding: 10px;
  border: 1px solid #c3c3c3;
  position: relative;
}
.border-work-predec{
  padding: 10px;
  border: 1px solid #c3c3c3;
  position: relative;
}
.span-title-work{
  position: absolute;
  transform: translate(0px, -20px);
  background-color: white;
}
.title-text-cus {
  width: 150px;
    font-weight: 600;
    float: left;
    color: #333;
}
.input-text-cus {
width: calc(100% - 150px) !important;
}