<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12 bg-img-trangchu">
          
            <!-- <div class="card mb-0">
                <div class="card-header">
                    <strong>
                        Số giờ làm việc của phòng tháng hiện tại
                    </strong>
                    <div class="card-header-actions">
                    </div>
                </div>
                <div class="card-body">
                    <div class="w-100 text-center">
                        <div class=" d-inline-block" style="width: 87%">
                            <hr class="mt-0">
                            <canvas id="myChartDV" width="400" height="200"></canvas>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
</div>
<style>
    .bg-img-trangchu {
        height: calc(100vh - 55px);
    background-image: url("assets/img/brand/kpi-la-gi.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.3;
    background-position: 50% 50%;
    }
</style>