.state-overtime-1{
    background-color: #28a745;
    color: white;
}
.state-overtime-2{
    background-color: #dc3545;
    color: white;
}
.state-overtime-0{
    background-color: #007bff;
    color: white;
}