<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card m-0">
                <div class="card-header">
                  
                    <div *appPermitshow="perUser" style="width: 200px;display: inline-block;">
                        <select id="userId" name="userId" class="form-control padding-select-congty" [(ngModel)]="report.UserId">
                            <option [ngValue]="0">----- Chọn người dùng -----</option>
                            <option *ngFor="let item of listUser" [ngValue]="item.UserId">{{item.FullName}}</option>
                        </select>
                    </div>
                    <div class="d-inline-block">
                        <app-input-date [mindate]="true" label="Từ ngày" (changeDate)="fromDateClick($event)">
                    </app-input-date>
                    </div>
                    <div class="d-inline-block">
                    <app-input-date [mindate]="true" label="Đến ngày" (changeDate)="toDateClick($event)">
                    </app-input-date>
                    </div>
                    <button (click)="r1GetReportKpi()" type="button" class="btn btn-outline-primary" title="Xuất excel">
                        <span class="btntext-middle"><i class="btnicon-font-size fa fa-filter"
                                aria-hidden="true"></i></span>
                        <a class="ml-1">
                            Thực hiện
                        </a>
                    </button>
                    <button (click)="ExportKpiClick()" type="button" class="btn btn-outline-primary" title="Xuất excel">
                        <span class="btntext-middle"><i class="btnicon-font-size fa fa-file-excel-o"
                                aria-hidden="true"></i></span>
                        <a class="ml-1">
                            Excel
                        </a>
                    </button>
                    <strong  class="page-current-title">Nhật ký công việc</strong>  
                </div>

                <div class="card-body p-0 max-height-card-body">
                    <table class="table table-sm table-bordered">
                        <thead class="thead-light">
                            <tr>
                                <th width=40 rowspan= "2" class="text-middle">STT</th>
                                <th rowspan= "2" class="text-middle">Tên công việc</th>
                                <th width=80 rowspan= "2" class="text-center text-middle">Mã công việc</th>
                                <th width=100 colspan="5" class="text-center text-middle">Thời gian thực hiện</th>
                                <th width=100 rowspan= "2" class="text-center text-middle">Ghi chú</th>
                            
                            </tr>
                            <tr>
                                <th width=100 class="text-center text-middle">Ngày bắt đầu</th>
                                <th width=100 class="text-center text-middle">Từ ... Giờ ... Phút</th>
                                <th width=100 class="text-center text-middle">Ngày kết thúc</th>
                                <th width=100 class="text-center text-middle">Đến ... Giờ ... Phút</th>
                                <th width=100 class="text-center text-middle">Quy ra phút</th>
                              
                            </tr>
                            
                        </thead>
                        <tbody #TableBody>
                            <tr *ngFor="let item of listKpis; let i = index">
                                <td class="text-center">
                                 {{i + 1}}
                                </td>
                                <td>{{item.TaskName}}</td>
                                <td>{{item.TaskCode}}</td>
                             
                               
                                <td class="text-center">{{item.DateStart | date: 'dd/MM/yyyy'}}</td>
                                <td class="text-center">{{item.DateStart | date: 'HH:mm'}}</td>
                                <td class="text-center">{{item.DateEnd | date: 'dd/MM/yyyy'}}</td>
                                <td class="text-center">{{item.DateEnd | date: 'HH:mm'}}</td>
                                <td class="text-center">{{item.WorkTime * 60 | number: '1.1-1'}}</td>
                                <td class="text-center">
                                   
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->
</div>
  